@page
@model SupermarketWEB.Pages.Products.EditModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-fpr="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-dager"></span>
            </div>
            <div class="form-group">
                <label asp-fpr="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-dager"></span>
            </div>
            <div class="form-group">
                <label asp-fpr="Product.Stock" class="control-label"></label>
                <input asp-for="Product.Stock" class="form-control" />
                <span asp-validation-for="Product.Stock" class="text-dager"></span>
            </div>
            <div class="form-group">
                <label asp-fpr="Product.CategoryId" class="control-label"></label>
                <input asp-for="Product.CategoryId" class="form-control" />
                <span asp-validation-for="Product.CategoryId" class="text-dager"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
