@page
@model IndexModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Index Categories";
}
<h1>Index Categories</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => category.Description)
            </td>
            <td>
                <span></span>
            </td>
        </tr>
        }
    </tbody>
</table>
=======
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
>>>>>>> d0a7c64 (Se ajusta el NuGet)
